keypair = "{{ srv_keypair }}"

vpc_name = "{{ srv_name }}"

vpc_cidr = "{{ srv_vpc_cidr }}"

az_1 = "{{ srv_az }}"

public_subnet_cidr_1 = "{{ srv_public_subnet_cidr }}"

private_subnet_cidr_1 = "{{ srv_private_subnet_cidr }}"

bastion_ami_id = "{{ srv_ami_id }}"

bastion_instance_type = "{{ srv_instance_type }}"

bastion_keypair = "{{ srv_keypair }}"
